<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="ServiceLibrary.SimpleService">

        <!-- A binding that is suitable for communicating with WS-Basic Profile conformant Web services, for example, ASP.NET Web services (ASMX)-based services. This binding uses HTTP as the transport and text/XML as the default message encoding. -->
        <endpoint address="basic" binding="basicHttpBinding" contract="ServiceLibrary.ISimpleService"/>
        
        <!-- Represents an interoperable binding that supports distributed transactions and secure, reliable sessions. -->
        <endpoint address="ws" binding="wsHttpBinding" contract="ServiceLibrary.ISimpleService"/>

        <!-- A secure and interoperable binding that is designed for use with duplex service contracts that allows both services and clients to send and receive messages. -->
        <endpoint address="wsdual" binding="wsDualHttpBinding" contract="ServiceLibrary.ISimpleService" />

        <!-- A secure and interoperable binding that supports federated security. -->
        <!-- Federated security, e.g AD, must be setup as a pre-req. -->
        <!--<endpoint address="wsfederation" binding="wsFederationHttpBinding" contract="ServiceLibrary.ISimpleService" />-->
        
        <!-- A secure, reliable binding suitable for cross-machine communication. -->
        <!-- net.tcp cannoton be used with the VS dev server - WAS/IIS7 is needed to host it. -->
        <!--<endpoint address="tcp" binding="netTcpBinding" contract="ServiceLibrary.ISimpleService" />-->
        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/ServiceLibrary/SimpleService/" />
            <add baseAddress="net.tcp://localhost:8732/Design_Time_Addresses/ServiceLibrary/SimpleService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ServiceLibrary.DuplexService">
        <endpoint binding="wsDualHttpBinding" contract="ServiceLibrary.IDuplexService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/ServiceLibrary/DuplexService/" />
            <add baseAddress="net.tcp://localhost:8732/Design_Time_Addresses/ServiceLibrary/DuplexService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
