<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="ServiceLibrary.SimpleService">
        <endpoint address="basic" binding="basicHttpBinding" contract="ServiceLibrary.ISimpleService" />
        <endpoint address="ws" binding="wsHttpBinding" contract="ServiceLibrary.ISimpleService" />
        <endpoint address="wsdual" binding="wsDualHttpBinding" contract="ServiceLibrary.ISimpleService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/ServiceLibrary/SimpleService/" />
            <add baseAddress="net.tcp://localhost:8732/Design_Time_Addresses/ServiceLibrary/SimpleService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ServiceLibrary.DuplexService">
        <endpoint binding="wsDualHttpBinding" contract="ServiceLibrary.IDuplexService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/ServiceLibrary/DuplexService/" />
            <add baseAddress="net.tcp://localhost:8732/Design_Time_Addresses/ServiceLibrary/DuplexService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ServiceLibrary.Maths">
        <endpoint address="" binding="wsHttpBinding" contract="ServiceLibrary.IMaths">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/ServiceLibrary/Maths/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
