<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ServiceLibrary.DuplexService">
        <endpoint address="net.tcp://localhost:9002/DuplexService" binding="netTcpBinding" contract="ServiceLibrary.IDuplexService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>